name: Build and Push Docker Image

on:
  push:
    branches: ["main", "railway", "render"]  # Trigger on pushes to main branch
  workflow_dispatch:

env:
  IMAGE_NAME: kazeemakinrinde/ngcloak  # Replace with your Docker Hub repo name

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout repository code
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push to Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest

      - name: Set IMAGE_REF
        run: echo "IMAGE_REF=${{ env.IMAGE_NAME }}:latest" >> $GITHUB_ENV

    
      # Step 5: Deploy to Railway
  deploy-railway:
    name: Deploy to Railway
    runs-on: ubuntu-latest
    needs: build-and-push
    if: github.ref == 'refs/heads/railway'
    steps:
      - name: Install Railway CLI
        run: npm install -g @railway/cli@latest

      - name: Deploy dev to railway
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
          RAILWAY_PROJECT_ID: 7edc707c-73e3-4b8b-915b-019e9d0b6114
          RAILWAY_SERVICE_ID: Ngcloak
        run: |
          IMAGE_REF="kazeemakinrinde/ngcloak"
          echo "Deploying Dev with image: $IMAGE_REF"
          railway variables --set "RAILWAY_SERVICE_IMAGE=$IMAGE_REF" --service $RAILWAY_SERVICE_ID

  deploy-render:
    name: Deploy to Render
    runs-on: ubuntu-latest
    needs: build-and-push
    if: github.ref == 'refs/heads/render'
    steps:
      - name: Render
        run: |
          IMAGE_REF="kazeemakinrinde/ngcloak"
          curl -X POST ${{secrets.RENDER_DEPLOY_HOOK}}
  

  deploy-both:
    name: Deploy to both
    runs-on: ubuntu-latest
    needs: build-and-push
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy to Railway
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
          RAILWAY_PROJECT_ID: 7edc707c-73e3-4b8b-915b-019e9d0b6114
          RAILWAY_SERVICE_ID: Ngcloak
          IMAGE_REF: ${{ env.IMAGE_REF }}
        run: |
          IMAGE_REF="kazeemakinrinde/ngcloak"
          echo "Deploying QA with image: $IMAGE_REF"
          railway variables --set "RAILWAY_SERVICE_IMAGE=$IMAGE_REF" --service $RAILWAY_SERVICE_ID

      - name: Deploy to Render
        run: |
          IMAGE_REF="kazeemakinrinde/ngcloak"
          curl -X POST ${{secrets.RENDER_DEPLOY_HOOK}}
