name: Build and Push Docker Image

on:
  push:
    branches: ["main"]  # Trigger on pushes to main branch
  workflow_dispatch:

env:
  IMAGE_NAME: kazeemakinrinde/ngcloak  # Replace with your Docker Hub repo name

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout repository code
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Step 3: Extract metadata (tags, labels) for Docker image
      # - name: Extract metadata
      #   id: meta
      #   uses: docker/metadata-action@v5
      #   with:
      #     images: ${{ env.IMAGE_NAME }}
      #     tags: |
      #       type=raw,value=latest
      #       type=sha

      # Step 4: Build and push Docker image
      # - name: Build and Push
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: .                # Path to Dockerfile location (root dir)
      #     push: true                # Push after building
      #     tags: ${{ steps.meta.outputs.tags }}
      #     labels: ${{ steps.meta.outputs.labels }}

      - name: Build and Push to Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest

      - name: Set IMAGE_REF
        run: echo "IMAGE_REF=${{ env.IMAGE_NAME }}:latest" >> $GITHUB_ENV

      - name: Install Railway CLI
        run: npm install -g @railway/cli

      # Step 5: Deploy to Railway
      - name: Deploy to Railway
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
          RAILWAY_PROJECT_ID: 7edc707c-73e3-4b8b-915b-019e9d0b6114
          RAILWAY_SERVICE_ID: Ngcloak
          IMAGE_REF: ${{ env.IMAGE_REF }}
        run: |
          echo "Deploying QA with image: $IMAGE_REF"
          railway variables --set "RAILWAY_SERVICE_IMAGE=$IMAGE_REF" --service $RAILWAY_SERVICE_ID

      - name: Deploy to Render
        run: |
          curl -X POST ${{secrets.RENDER_DEPLOY_HOOK}}
